

<div class="row">
  <div class="col">
    <form>

      <div class="form-group">
        <input [(ngModel)]="user.username" name="username" placeholder="Username" type="text" class="form-control">
      </div>

      <div class="form-group">
        <input [(ngModel)]="user.password" name="password" placeholder="Password" type="password" class="form-control">
      </div>

      <div class="form-group">
        <button (click)="login()" role="button" class="btn btn-primary btn-block">
          Enviar
        </button>
      </div>

    </form>
  </div>
</div>
