
<!-- Modal for add a new product -->

<!-- This modal only works for edit data but not image-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> Agregando nuevo producto </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <form (ngSubmit)="saveProduct()" [formGroup]="productForm">

      <div class="mb-3">
        <label for=""> Name </label>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Product name"
            formControlName="name"
          >

          <span class="form-text text-danger"
            *ngIf="isAValidField('name')">
              El campo no es válido
          </span>

        </div>
      </div>
      <div class="mb-3">
        <label for=""> Price </label>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Product Description"
            formControlName="price"
          >

          <span class="form-text text-danger"
            *ngIf="isAValidField('price')">
              El campo no es válido
          </span>

        </div>
      </div>
      <div class="mb-3">
        <label for=""> Description </label>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Product description"
            formControlName="description"
          >

          <span class="form-text text-danger"
            *ngIf="isAValidField('description')">
              El campo no es válido
          </span>

        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Update</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>

</ng-template>

<!-- Modal for add a new product -->


<!-- Add product button -->
<div class="row m-3">
  <div class="col d-flex justify-content-end ">
    <button class="btn btn-primary" (click)="openModal(content)">
      Add Product
    </button>
  </div>
</div>
<!-- Add product button -->

<!-- Slider and product offers -->
<div class="container my-5">

  <!-- Product Offerts -->
  <div class="container mb-5">

    <!-- Prouct Row Starts -->
    <div class="row">
      <!-- Left hand filter starts -->
      <div class="col-md-3">
        <p class="text-capitalize font-weight-bold">avg. customer review</p>
        <button class="btn btn-sm bg-transparent">
          <i class="fas fa-star" style="color: #ffa41c;"></i>
          <i class="fas fa-star" style="color: #ffa41c;"></i>
          <i class="fas fa-star" style="color: #ffa41c;"></i>
          <i class="fas fa-star" style="color: #ffa41c;"></i>
          <i class="far fa-star" style="color: #ffa41c;"></i>
          <span class="rating">& Up</span>
        </button>
        <br />
        <button class="btn btn-sm bg-transparent">
          <i class="fas fa-star" style="color: #ffa41c;"></i>
          <i class="fas fa-star" style="color: #ffa41c;"></i>
          <i class="fas fa-star" style="color: #ffa41c;"></i>
          <i class="far fa-star" style="color: #ffa41c;"></i>
          <i class="far fa-star" style="color: #ffa41c;"></i>
          <span class="rating">& Up</span>
        </button>
        <br />
        <button class="btn btn-sm bg-transparent">
          <i class="fas fa-star" style="color: #ffa41c;"></i>
          <i class="fas fa-star" style="color: #ffa41c;"></i>
          <i class="far fa-star" style="color: #ffa41c;"></i>
          <i class="far fa-star" style="color: #ffa41c;"></i>
          <i class="far fa-star" style="color: #ffa41c;"></i>
          <span class="rating">& Up</span>
        </button>
        <br />
        <button class="btn btn-sm bg-transparent">
          <i class="fas fa-star" style="color: #ffa41c;"></i>
          <i class="far fa-star" style="color: #ffa41c;"></i>
          <i class="far fa-star" style="color: #ffa41c;"></i>
          <i class="far fa-star" style="color: #ffa41c;"></i>
          <i class="far fa-star" style="color: #ffa41c;"></i>
          <span class="rating">& Up</span>
        </button>
        <br />
      </div>
      <!-- Left hand filter ends -->

      <!-- Product list starts -->
      <div class="col-md-9">
        <div class="row">
          <ng-container *ngFor="let product of products">
            <div class="col-lg-6 mt-md-12 mt-0">
                <app-card-product [product]="product"></app-card-product>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- Prouct Row Ends -->

    <!-- TODO: Should be adapted to be an independent component -->
    <!-- Pagination Starts -->
    <div class="row border-bottom border-top pt-3">
      <div class="col-md-12 d-flex justify-content-center">
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                <i class="fas fa-long-arrow-alt-left"></i>
                 Previous
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">
                Next
                <i class="fas fa-long-arrow-alt-right"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </div>
  <!-- Product Offerts -->
</div>


<!-- Slider and product offers -->
