<!-- Slider and product offers -->
<div class="container-fluid px-0">
  <!-- Image Slider Starts -->
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/slider/slide01.png" class="d-block w-100" height="500" alt="slide image 01">
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/slider/slide02.png" class="d-block w-100" height="500" alt="slide image 01">
      </div>
    </ng-template>
  </ngb-carousel>
  <!-- Image Slider Ends -->

  <!-- Product Offerts -->
  <div class="container mb-5" style="margin-top: -200px;">
    <!-- Prouct Row Starts -->
    <div class="row">
        <app-product-home class="col-lg-3 mt-md-4 mt-0" [product]="product" *ngFor="let product of products"></app-product-home>
    </div>
    <!-- Prouct Row Ends -->
  </div>
  <!-- Product Offerts -->
</div>
<!-- Slider and product offers -->
