
  <!-- Navbar Starts -->
  <nav id="pageTop" class="navbar navbar-expand-md navbar-dark bg-dark">
    <!-- Drawer Starts -->
    <button class="btn btn-outline-light ms-2">
      <i class="fas fa-sliders-h"></i>
    </button>
    <!-- Drawer Ends -->

    <!-- Logo -->
    <a class="navbar-brand pl-2 ms-4" href="#">
      <img src="assets/img/amazon_logo_white.png" height="30" width="100" alt="amazon logo white">
    </a>
    <!-- Logo -->

    <!-- Collapser Button -->
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapser Button -->

    <!-- for grouping and hiding navbar contents by a parent breakpoint. -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isMenuCollapsed">
      <!-- Search Bar Starts -->
      <form class="form-inline px-lg-5" novalidate method="get">
        <div class="input-group">
          <!-- Categories Dropdown -->
          <div class="input-group-prepend">
            <div ngbDropdown>
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="btnCategoryDropdownMenu"
                ngbDropdownToggle
              > All
              </button>

              <div ngbDropdownMenu aria-labelledby="btnCategoryDropdownMenu">
                <a ngbDropdownItem  target="_blank" href="http://www.google.com.mx">All</a>
                <a ngbDropdownItem>Smartphone</a>
                <a ngbDropdownItem>Kitchen Hardware</a>
                <a ngbDropdownItem>Prime Deals</a>
                <a ngbDropdownItem>Book</a>
              </div>
            </div>
          </div>
          <!-- ./Categories Dropdown -->

          <!-- Search Product Bar -->
          <input type="text" class="form-control" size="50">
          <!--./ Search Product Bar -->

          <!-- Submit Search Button -->
          <div class="input-group-append">
            <button type="submit" class="btn btn-warning">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <!--./ Submit Search Button -->
        </div>
      </form>
      <!-- Search Bar Ends -->

      <!-- for a full-height and lightweight navigation (including support for dropdowns). -->
      <ul class="navbar-nav">
        <!-- Preffered Language Starts -->
        <li ngbDropdown class="nav-item px-2">
          <a
            class="nav-link"
            href="#"
            id="prefLanguageDropdown"
            role="button"
            ngbDropdownToggle
          > <i class="fas fa-2x fa-language"></i>
          </a>

          <div ngbDropdownMenu aria-labelledby="prefLanguageDropdown">
            <form class="p-3">
              <div class="dropdown-divider"></div>

              <div ngbDropdownItem class="custom-control custom-radio mb-2">

                <input  class="custom-control-input me-1" type="radio" name="prefLang" id="englishLang" value="english"
                  checked>

                <label class="custom-control-label" for="englishLang">
                  <img src="assets/img/flag/english.svg" alt="uk flag" width="50" height="30">
                </label>
              </div>
            </form>
          </div>
        </li>
        <!-- Preffered Language Ends -->

        <!-- User Account Starts -->
        <li ngbDropdown class="nav-item px-2">
          <a class="nav-link"  id="userAccount" role="button" ngbDropdownToggle>
            <i class="fas fa-2x fa-user-circle"></i>
          </a>
          <div ngbDropdownMenu class="px-3" aria-labelledby="userAccount">
            <div class="d-flex flex-column justify-content-center">
              <a href="#" class="btn btn-warning w-75 btn-sm font-weight-bold">Signin</a>
              <small>New customer?<a href="register.html"> Start here.</a></small>
            </div>
          </div>
        </li>
        <!-- User Account Ends -->

        <!-- Shopping Cart Starts -->
        <li class="nav-item px-2">
          <a class="nav-link" href="#" aria-disabled=" true"><i class="fas fa-2x text-light fa-shopping-cart"></i><span class="badge badge-warning badge-pill">0</span></a>
        </li>
        <!-- Shopping Cart Starts -->
      </ul>
      <!-- for a full-height and lightweight navigation (including support for dropdowns). -->
    </div>
    <!-- for grouping and hiding navbar contents by a parent breakpoint. -->
  </nav>
  <!-- Navbar Ends -->

<!-- Slider and product offers -->
  <div class="container-fluid px-0">
    <!-- Image Slider Starts -->
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/img/slider/slide01.png" class="d-block w-100" height="500" alt="slide image 01">
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/img/slider/slide02.png" class="d-block w-100" height="500" alt="slide image 01">
        </div>
      </ng-template>
    </ngb-carousel>
    <!-- Image Slider Ends -->

    <!-- Product Offerts -->
    <div class="container mb-5" style="margin-top: -200px;">
      <!-- Prouct Row Starts -->
      <div class="row">
        <ng-container *ngFor="let number of [0,1,2,3,4]">
          <div class="col-lg-3 mt-md-4 mt-0">
            <div class="card my-2 my-lg-0">
              <div class="card-body d-flex justify-content-center">
                <a href="#"><img src="assets/img/product_images/product02.png" alt="product image 01" class="img-fluid"></a>
              </div>
              <div class="card-footer bg-transparent py-0">
                <div class="row my-1">
                  <div class="col-md-6">
                    <p class="font-weight-bold text-danger">
                      <i class="fas fa-rupee-sign"></i> 150.00
                    </p>
                  </div>
                  <div class="col-md-6">
                    <a href="#" class="btn btn-success btn-sm btn-block">Buy</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <!-- Prouct Row Ends -->
    </div>
    <!-- Product Offerts -->
  </div>
<!-- Slider and product offers -->


  <!-- Footer Starts -->
  <div class="container-fluid bg-dark px-0">
    <a href="#pageTop" class="btn btn-dark btn-block mb-5">Back to Top</a>

    <div class="container">
      <div class="row text-white mb-5">

        <div class="col-md-3">
          <h5>Get to know us</h5>
          <a href="#" class="text-white">About</a> <br />
          <a href="#" class="text-white">Careers</a> <br />
          <a href="#" class="text-white">Press Release</a> <br />
          <a href="#" class="text-white">Investment</a> <br />
          <a href="#" class="text-white">Offers</a> <br />
        </div>

        <div class="col-md-3">
          <h5>Connect With Us</h5>
          <a href="#" class="text-white">Facebook</a> <br />
          <a href="#" class="text-white">Twitter</a> <br />
          <a href="#" class="text-white">Instagram</a> <br />
        </div>

        <div class="col-md-3">
          <h5>Make Money With Us</h5>
          <a href="#" class="text-white">Sell on Amazon</a> <br />
          <a href="#" class="text-white">Affiliate Marketing</a> <br />
          <a href="#" class="text-white">Fullfilment Center</a> <br />
          <a href="#" class="text-white">Advertise Your Product</a> <br />
          <a href="#" class="text-white">Amazon Pay</a> <br />
        </div>

        <div class="col-md-3">
          <h5>Let Us Help You</h5>
          <a href="#" class="text-white">COVID 19</a> <br />
          <a href="#" class="text-white">Your Account</a> <br />
          <a href="#" class="text-white">Returns</a> <br />
          <a href="#" class="text-white">Funding</a> <br />
          <a href="#" class="text-white">Help</a> <br />
        </div>

      </div>
    </div>

    <div class="dropdown-divider mt-3"></div>

    <div class="row mt-3 mx-0 px-0">
      <div class="col-md-12 text-center">
        <img src="assets/img/amazon_logo_white.png" height="30" width="100" alt="amazon logo white footer">
      </div>
    </div>


    <!-- Sub footer starts -->
    <div class="py-3 mt-3 shadow-lg" style="background-color: #131a22; font-size: 12px;">
      <div class="container">

        <div class="row">
          <div class="col-md-12 text-center text-white">
            <p>
              <i class="far fa-copyright"></i> 1996-2022, Amazon.com Inc.
            </p>
          </div>
        </div>

      </div>
    </div>
    <!-- Sub footer ends -->

  </div>
