<!-- Slider and product offers -->
<div class="container-fluid px-0">
  <!-- Image Slider Starts -->
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/slider/slide01.png" class="d-block w-100" height="500" alt="slide image 01">
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/slider/slide02.png" class="d-block w-100" height="500" alt="slide image 01">
      </div>
    </ng-template>
  </ngb-carousel>
  <!-- Image Slider Ends -->

  <!-- Product Offerts -->
  <div class="container mb-5" style="margin-top: -200px;">
    <!-- Prouct Row Starts -->
    <div class="row">
      <ng-container *ngFor="let product of products">
        <div class="col-lg-3 mt-md-4 mt-0">
          <div class="card my-2 my-lg-0">
            <div class="card-body d-flex justify-content-center">
              <a href="#">
                <img
                  *ngIf="product?.image"
                  src="http://localhost:8080/api/uploads/img/{{ product.image }}"
                  alt="{{ product.name }}"
                  class="img-fluid"
                  enlargeImageHover
                  height="70px"
                >
                <img
                  *ngIf="!product?.image"
                  src="http://localhost:8080/images/no-image.png"
                  alt="{{ product.name }}"
                  class="img-fluid"
                >
              </a>
            </div>
            <div class="card-footer bg-transparent py-0">
              <div class="row my-1">
                <div class="col-md-6">
                  <p class="font-weight-bold text-danger">
                    <i class="fas fa-rupee-sign"></i> {{ product.price | currency }}
                  </p>
                  <p>
                    {{ product.name }} - {{ product.inventory | availability }}
                  </p>
                </div>
                <div class="col-md-6">
                  <a [appBlueButton]="'capitalize'" location="HomeComponent" [routerLink]="['/product',product.id]" class="btn btn-success btn-sm btn-block">Ver</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <!-- Prouct Row Ends -->
  </div>
  <!-- Product Offerts -->
</div>
<!-- Slider and product offers -->
