<!-- Single product detail starts -->
<div class="row border-top py-3">
  <!-- Product image starts -->
  <div class="col-md-4 text-center">

    <img
      [src]="urlImage"
      alt="{{ product.name }}"
      class="img-fluid"
      (error)="onImgError($event)"
    >
  </div> <!-- Product image ends -->

  <!-- Product details starts -->
  <div class="col-md-8">
    <a [routerLink]="['/product',product.id]">{{ product.name }}</a>
    <p class="text-muted my-0">Sold by : {{ product.brand?.name }}</p>
    <p>
      <i class="fas fa-star" style="color: #ffa41c;"></i>
      <i class="far fa-star" style="color: #ffa41c;"></i>
      <i class="far fa-star" style="color: #ffa41c;"></i>
      <i class="far fa-star" style="color: #ffa41c;"></i>
      <i class="far fa-star" style="color: #ffa41c;"></i>
    </p>
    <p class="text-uppercase my-0 font-weight-bold text-danger">
      {{ product.price | currency }}
    </p>
  </div> <!-- Product details ends -->

</div> <!-- Single product detail ends -->
